{% extends 'gisapp/base.html' %}

{% block content %}


  <body class="text-center  ">

    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}


      <form class="form-signin form-control" method = "post" style="margin-top: 5px; display: inline-block;">
        {% csrf_token %}
        <div style= "margin-top: 75px;margin-bottom: 30px; font-size: 250%;">GEOSERVER QUERY LAYER</div>
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="card-block form-group">
        <label for="inputEmail" class="sr-only"></label>
    
        <input type="text" id="inputEmail" class="form-control col-lg-3 col-sm-6 mx-auto" placeholder="username" name="username" required="" autofocus="" autocomplete="off" >
        <label for="inputPassword" class="sr-only"></label>
      
        <input type="password" id="inputPassword" class="form-control col-lg-3 col-sm-6 mx-auto" placeholder="Password" name="password" required="" autocomplete="off">
    </div>

        <button class="btn btn-lg btn-primary btn-block col-lg-3 col-sm-6 mx-auto" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2021-2022</p>
    </form>
    

</body>
{% endblock content %}


